<div class="demo">

  <cloukit-story title="Single Layer Icons" story="story-00-single-layer-icons">
    <cloukit-story-00-single-layer-icons></cloukit-story-00-single-layer-icons>
  </cloukit-story>

  <br><br>

  <cloukit-story title="Different Sizes" story="story-01-different-sizes">
    <cloukit-story-01-different-sizes></cloukit-story-01-different-sizes>
  </cloukit-story>

  <br><br>

  <cloukit-story title="Stacked Multi Layer Icons" story="story-02-stacked-multi-layer-icons">
    <cloukit-story-02-stacked-multi-layer-icons></cloukit-story-02-stacked-multi-layer-icons>
  </cloukit-story>

  <br><br>

  <cloukit-story title="Masked Multi Layer Icons" story="story-03-masked-multi-layer-icons">
    <cloukit-story-03-masked-multi-layer-icons></cloukit-story-03-masked-multi-layer-icons>
  </cloukit-story>

  <br><br>

  <cloukit-story title="Transformed Icons" story="story-04-transformed-icons">
    <cloukit-story-04-transformed-icons></cloukit-story-04-transformed-icons>
  </cloukit-story>

</div>
