<div style="padding:10px">

  <h4>single layer icons</h4>
  <div class="iconCodeBox">
    <code>
      &lt;cloukit-icon<br>
      &nbsp;&nbsp;foregroundIcon="check" foregroundIconColor="#3FA051"<br>
      &gt;&lt;/cloukit-icon&gt;
    </code>
  </div>
  <div class="iconBox">
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="check"
        foregroundIconColor="#3FA051"
      ></cloukit-icon><br>
      check
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="cross"
        foregroundIconColor="#A03F3F"
      ></cloukit-icon><br>
      cross
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="info"
        foregroundIconColor="#3F68A0"
      ></cloukit-icon><br>
      info
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="exclamation"
        foregroundIconColor="#A0533F"
      ></cloukit-icon><br>
      exclamation
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="chevronLeft"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      chevronLeft
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="chevronUp"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      chevronUp
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="chevronRight"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      chevronRight
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="chevronDown"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      chevronDown
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="arrowLeft"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      arrowLeft
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="arrowUp"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      arrowUp
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="arrowRight"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      arrowRight
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="arrowDown"
        foregroundIconColor="#6F6F6F"
      ></cloukit-icon><br>
      arrowDown
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="circle"
        foregroundIconColor="#8F8F8F"
      ></cloukit-icon><br>
      circle
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="triangle"
        foregroundIconColor="#8F8F8F"
      ></cloukit-icon><br>
      triangle
    </div>
    <div class="iconItem">
      <cloukit-icon
        foregroundIcon="squareRounded"
        foregroundIconColor="#8F8F8F"
      ></cloukit-icon><br>
      squareRounded
    </div>
  </div>




  <br><br>
  <h4>different sizes</h4>
  <span>Use the <code>size</code> attribute to set the desired size. The actual pixel sizes can be registered at the <code>ClouktiIconService</code>.</span>
  <div class="iconCodeBox">
    <code>
      &lt;cloukit-icon<br>
      &nbsp;&nbsp;size="small"<br>
      &nbsp;&nbsp;foregroundIcon="check" foregroundIconColor="#3FA051"<br>
      &gt;&lt;/cloukit-icon&gt;
    </code>
  </div>
  <div class="iconBox">
    <div class="iconItem">
      <cloukit-icon
        size="small"
        foregroundIcon="check"
        foregroundIconColor="#3FA051"
      ></cloukit-icon><br>
      small
    </div>
    <div class="iconItem">
      <cloukit-icon
        size="medium"
        foregroundIcon="check"
        foregroundIconColor="#3FA051"
      ></cloukit-icon><br>
      medium
    </div>
    <div class="iconItem">
      <cloukit-icon
        size="large"
        foregroundIcon="check"
        foregroundIconColor="#3FA051"
      ></cloukit-icon><br>
      large
    </div>
    <div class="iconItem">
      <cloukit-icon
        size="xlarge"
        foregroundIcon="check"
        foregroundIconColor="#3FA051"
      ></cloukit-icon><br>
      xlarge
    </div>
  </div>


  <br><br>
  <h4>stacked multi layer icons</h4>
  <span>The foreground icon is stacked on top the background icon.</span>
  <div class="iconCodeBox">
    <code>
      &lt;cloukit-icon<br>
      &nbsp;&nbsp;combine="stack"<br>
      &nbsp;&nbsp;foregroundIcon="check" foregroundIconColor="#3FA051"<br>
      &nbsp;&nbsp;backgroundIcon="triangle" backgroundIconColor="#0f0eff"<br>
      &gt;&lt;/cloukit-icon&gt;
    </code>
  </div>
  <div class="iconBox">
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="exclamation"
        foregroundIconColor="#fff"
        backgroundIcon="triangle"
        backgroundIconColor="#E77300"
      ></cloukit-icon><br>
      exclamation<br>triangle
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="info"
        foregroundIconColor="#fff"
        backgroundIcon="circle"
        backgroundIconColor="#2185D4"
      ></cloukit-icon><br>
      info<br>circle
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="cross"
        foregroundIconColor="#fff"
        backgroundIcon="squareRounded"
        backgroundIconColor="#D60000"
      ></cloukit-icon><br>
      cross<br>squareRounded
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="check"
        foregroundIconColor="#fff"
        backgroundIcon="squareRounded"
        backgroundIconColor="#00D632"
      ></cloukit-icon><br>
      check<br>squareRounded
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="arrowRight"
        foregroundIconColor="#6E8A27"
        backgroundIcon="circle"
        backgroundIconColor="#D2FF60"
      ></cloukit-icon><br>
      arrowRight<br>circle
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="arrowLeft"
        foregroundIconColor="#6E8A27"
        backgroundIcon="circle"
        backgroundIconColor="#D2FF60"
      ></cloukit-icon><br>
      arrowLeft<br>circle
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="arrowUp"
        foregroundIconColor="#6E8A27"
        backgroundIcon="circle"
        backgroundIconColor="#D2FF60"
      ></cloukit-icon><br>
      arrowUp<br>circle
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="arrowDown"
        foregroundIconColor="#6E8A27"
        backgroundIcon="circle"
        backgroundIconColor="#D2FF60"
      ></cloukit-icon><br>
      arrowDown<br>circle
    </div>
  </div>



  <br><br>
  <h4>masked multi layer icons</h4>
  <span>The foreground icon is subtracted from the background icon via a mask.</span>
  <div class="iconCodeBox">
    <code>
      &lt;cloukit-icon<br>
      &nbsp;&nbsp;combine="mask"<br>
      &nbsp;&nbsp;foregroundIcon="check"<br>
      &nbsp;&nbsp;backgroundIcon="triangle" backgroundIconColor="#0f0eff"<br>
      &gt;&lt;/cloukit-icon&gt;
    </code>
  </div>
  <div class="iconBox">
    <div class="iconItem">
      <cloukit-icon
        combine="mask"
        foregroundIcon="exclamation"
        backgroundIcon="triangle"
        backgroundIconColor="#E77300"
      ></cloukit-icon><br>
      exclamation<br>triangle
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="mask"
        foregroundIcon="info"
        backgroundIcon="circle"
        backgroundIconColor="#2185D4"
      ></cloukit-icon><br>
      info<br>circle
    </div>
  </div>



  <br><br>
  <h4>icon transformation</h4>
  <span>Use the <code>transform</code> attribute to be applied to any icon to change its size, rotation or position. Note that the viewport is always 512x512 pixel.</span>
  <div class="iconCodeBox">
    <code>
      &lt;cloukit-icon<br>
      &nbsp;&nbsp;combine="stack"<br>
      &nbsp;&nbsp;foregroundIcon="check" foregroundIconColor="#3FA051"<br>
      &nbsp;&nbsp;foregroundIconTransform="rotate(45, 256, 256), scale(0.7), translate(100, -130)"<br>
      &nbsp;&nbsp;backgroundIcon="triangle" backgroundIconColor="#0f0eff"<br>
      &gt;&lt;/cloukit-icon&gt;
    </code>
  </div>
  <div class="iconBox">
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="exclamation"
        foregroundIconColor="#fff"
        backgroundIcon="circle"
        backgroundIconColor="#E77300"
      ></cloukit-icon>
      <cloukit-icon
        combine="stack"
        foregroundIcon="exclamation"
        foregroundIconColor="#fff"
        foregroundIconTransform="scale(0.7), translate(100, 100)"
        backgroundIcon="circle"
        backgroundIconColor="#E77300"
        backgroundIconTransform="scale(0.7), translate(100, 100)"
      ></cloukit-icon><br>
      scale and translate
    </div>
    <div class="iconItem">
      <cloukit-icon
        combine="stack"
        foregroundIcon="cross"
        foregroundIconColor="#fff"
        backgroundIcon="triangle"
        backgroundIconColor="#D60000"
      ></cloukit-icon>
      <cloukit-icon
        combine="stack"
        foregroundIcon="cross"
        foregroundIconColor="#fff"
        foregroundIconTransform="scale(0.7), translate(100, 180)"
        backgroundIcon="triangle"
        backgroundIconColor="#D60000"
      ></cloukit-icon><br>
      scale and translate
    </div>
  </div>

</div>
